* {
  box-sizing: border-box;
}

:root{
  /* --brand: #654EB0; */
  --brand: #9D68FF;
  --tertiary: #6D676E;
  /* --shadow: 2px 2px 2px rgba(0,0,0,0.4);  */
  --shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  --brand-shadow: 3px 3px 10px 3px rgb(157, 104, 255, 0.2);
}

.dark-mode{
  --main: #1B1B1E;
  --secondary: #3C3C43;
}

.light-mode{
  --main: #FFFFFF;
  --secondary: #E7DBE9;
  
}

body{
  color: #333;
}

img{
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav .user{
  display: flex;
  align-items: center;
  font-weight: bold;
}

header nav .user svg{
  height: 20px;
  color: var(--brand);
}


header a.logo{
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--brand);
}

header nav{
  display: flex;
  gap: 15px;
}

header nav a{
  transition: text-decoration 0.3s ease-in-out;
}

header nav a:hover{
  text-decoration: underline;
  text-decoration-color: var(--brand);
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.post-link{
  text-decoration: none;
  color: inherit;
}

.post-link:hover div.post{
  border: 1px solid rgb(157, 104, 255, 0.1);
  box-shadow: var(--brand-shadow);
}

div.post{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 10px;
  margin-bottom: 50px;
  box-shadow: var(--shadow);
  border: 1px solid rgb(0,0,0,0.1);
  padding: 10px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

div.post div.image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 600px) {
  div.post{
    grid-template-columns: 1fr;
  }
}
  
div.post div.content h2{
  margin: 0;
  font-size: 1.6rem;
}

div.post div.content a{
  text-decoration: none;
  color: inherit;
}

div.post div.content p.info{
  margin: 5px 0;
  color: var(--tertiary);
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
}

div.post div.content p.info time{
  font-weight: 200;
}


div.post div.content p.info a.author{
  color: var(--brand);
  font-weight: 600;
}

div.post div.content p.description{
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
}

form button{
  width: 100%;
  background-color: #555;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 7px 0;
  cursor: pointer;
}

form.login h1, form.register h1{
  text-align: center;
}

div.post-wrapper div.cover-image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-wrapper div.cover-image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-wrapper h1{
  margin-bottom: 0;
}


div.post-wrapper a{
  color: #333;
  text-decoration: underline;
}

.post-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.post-info time{
  color: #aaa;
}


.post-info .author{
  font-weight: bold;
}

div.post-content p{
  line-height: 1.6rem;
}

div.edit{
  margin: 20px 0;
}

div.post-wrapper a.edit-btn{
  background-color: #333;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

div.post-wrapper a.edit-btn svg{
  height: 20px;
}