@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Pacifico', cursive;
  src: local('Pacifico'), url(./assets/fonts/Pacifico-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Satisfy', cursive;
  src: url('./assets/fonts/Satisfy-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}



* {
  box-sizing: border-box;
}

:root{
  /* --brand: #654EB0; */
  --brand: #9D68FF;
  /* --shadow: 2px 2px 2px rgba(0,0,0,0.4);  */
  --shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  --btn-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  --brand-shadow: 3px 3px 10px 3px rgb(157, 104, 255, 0.2);
}

.dark-mode{
  --darkest: #1B1B1E;
  --dark: #3C3C43;
  --mid: #6D676E;
  --light: #E7DBE9;
  --lightest: #FFFFFF;
}

.light-mode{
  --darkest: #FFFFFF;
  --dark: #E7DBE9;
  --mid: #6D676E;
  --light: #3C3C43;
  --lightest: #1B1B1E;
}

html{
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body{
  color: var(--lightest);
  background-color: var(--darkest);
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* Custom Scrollbar */

/* Works in WebKit/Blink Browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  display: none;
  color: var(--brand);
  background-color: var(--darkest);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--darkest); /* Set the background color of the track to transparent */
}

/* Works in Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand) var(--darkest);
}

/* Works in Edge and IE 11 */
*::-ms-scrollbar {
  width: 12px;
}

*::-ms-scrollbar-thumb {
  background-color: var(--brand);
  border-radius: 6px;
}

*::-ms-scrollbar-track {
  background-color: var(--darkest);
}

/* Standard scrollbar styling for other browsers (may not work in all) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand) var(--darkest);
}


img{
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--main);
}

/* Styling for the toggle button */
.toggle-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toggle-btn {
  display: inline-block;
  width: 52px;
  height: 26px;
  position: relative;
}

.toggle-btn input[type="checkbox"] {
  display: none;
}

.toggle-btn-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkest);
  border: 1px solid var(--brand);
  border-radius: 34px;
  transition: background-color 0.3s;
  box-shadow: var(--btn-shadow);
}

.toggle-btn input[type="checkbox"]:checked + .toggle-btn-label {
background-color: var(--darkest); /* Color when the button is toggled */
}

.toggle-btn-handle {
position: absolute;
top: 2px;
left: 2px;
width: 20px;
height: 20px;
background-color: var(--brand);
border-radius: 50%;
transition: transform 0.3s;
}

.toggle-btn input[type="checkbox"]:checked + .toggle-btn-label .toggle-btn-handle {
transform: translateX(26px); /* Position of the handle when toggled */
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav .user{
  display: flex;
  align-items: center;
  font-weight: bold;
}

header nav .user svg{
  height: 20px;
  color: var(--brand);
}


header a.logo{
  font-family: 'Satisfy', cursive;
  /* font-weight: 400; */
  font-size: 1.6rem;
}

header nav{
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

header nav a, .about-link{
  transition: text-decoration 0.3s ease-in-out;
  font-weight: 500;
}

header nav a:hover, .about-link:hover{
  text-decoration: underline;
  text-decoration-color: var(--brand);
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.post-link{
  text-decoration: none;
  color: inherit;
}

.post-link:hover div.post{
  border: 1px solid rgb(157, 104, 255, 0.4);
  
}

div.post{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 10px;
  margin-bottom: 50px;
  padding: 10px;
  transition: border 0.3s ease-in-out;
  box-shadow: var(--shadow);
  border: 1px solid rgb(0,0,0,0.1);
  border-radius: 20px;
}


div.post div.image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
}

div.post div.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 10px;
}


div.post div.content h2{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 900;
}

div.post div.content a{
  text-decoration: none;
  color: inherit;
}

div.post div.content p.info{
  margin: 5px 0;
  color: var(--mid);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.post div.content p.info time{
  font-weight: 300;
}


div.post div.content p.info a.author{
  font-weight: 600;
  color: var(--brand);
}

div.post div.content  .post-views{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  color: var(--brand);
  font-size: 0.8rem;
}

div.post div.content p.description{
  margin: 10px 0;
  line-height: 1.5rem;
}

form {
  margin: 50px 0;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

form input, form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid var(--mid);
  background-color: var(--darkest);
  border-radius: 5px;
  outline: none;
  color: var(--lightest);
}

form button{
  width: 100%;
  background-color: var(--darkest);
  border: 1px solid var(--brand);
  border-radius: 20px;
  color: var(--brand);
  padding: 10px 0;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form button:hover{
  background-color: var(--brand);
  color: var(--darkest);
  box-shadow: 3px 3px 3px rgb(0,0,0,0.4);
}

form.login h1, form.register h1{
  text-align: center;
}

div.post-wrapper div.cover-image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-wrapper div.cover-image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-wrapper h1{
  margin-bottom: 0;
}


div.post-wrapper a{
  color: var(--dark);
  text-decoration: underline;
}

.post-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.post-info time{
  color: var(--lightest);
}


.post-info .author{
  font-weight: bold;
}

div.cover-image{
  border-radius: 20px;
  margin: 20px 0;
}

div.post-content p{
  line-height: 1.6rem;
}

div.post-content img{
  border-radius: 20px;
}

div.edit{
  margin: 20px 0;
}

div.post-wrapper a.edit-btn{
  background-color: var(--darkest);
  color: var(--brand);
  border: 1px solid var(--brand);
  padding: 10px 30px;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  box-shadow: var(--btn-shadow);
  transition: background-color 0.3s ease-in-out;
}

div.post-wrapper a.edit-btn:hover{
  background-color: var(--brand);
  color: var(--darkest);
  box-shadow: 3px 3px 3px rgb(0,0,0,0.4);
}

div.post-wrapper a.edit-btn svg{
  height: 20px;
}

/* Post Interaction */
.post-interaction{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  margin: 50px 0;
}
.post-btns{
  display: flex;
  gap: 10px;
}

.post-int-btn a, .copy-link-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--brand);
  background-color: var(--darkest);
  box-shadow: var(--btn-shadow);
  color: var(--brand)!important;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.post-int-btn a:hover, .copy-link-btn:hover{
  color: var(--darkest)!important;
  background-color: var(--brand);
}

/* Post Footer */
.post-footer{
  margin: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-footer p {
  font-weight: 400;
}

.post-footer a{
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 20px;
  background: var(--darkest);
  color: var(--brand);
  border: 1px solid var(--brand);
  box-shadow: 3px 3px 3px rgb(0,0,0,0.2);
  border: 1px solid var(--brand);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.post-footer a:hover{
  background: var(--brand);
  color: var(--darkest);
  box-shadow: 3px 3px 3px rgb(0,0,0,0.4);
}

.shareable-link-container {
  display: flex;
  align-items: center;
}

.shareable-link-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  flex: 1;
}

.shareable-link-container input[type="text"]:focus {
  outline: none;
}

.shareable-link-container input[type="text"][readonly] {
  background-color: #f0f0f0;
}

div.footer-wrapper{
  width: 100%;
  margin-top: 200px;
}

div.footer-wrapper hr{
  border: none;
  border-bottom: 1px solid var(--dark);
}

div.footer-wrapper a{
  color: var(--lightest);
  text-decoration: none;
  display: flex;
  gap: 10px;
  margin: 15px 0;
  font-weight: 500;
  font-size: 0.8rem;
  transition: text-decoration 0.3s ease-in-out;
}

div.footer-wrapper a:hover{
  color: var(--light);
  text-decoration: underline;
  text-decoration-color: var(--brand);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

div.footer-container{
  display: flex;
  justify-content: space-between;
}


p.site-date{
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}

p.site-date .footer-logo{
  font-family: 'Satisfy', cursive;
  font-weight: 900;
  margin: 0 10px;
}

/* About Page */
div.about-wrapper{
  display: flex;
  align-items: flex-start;
  gap: 50px;
  
}

div.about-wrapper div.profile{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.about-wrapper div.profile img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
} 

div.about-wrapper div.profile ul{
  list-style-type: none;
  padding: 0;
  display:flex;
  flex-direction: column;
  gap: 16px;
} 

div.about-wrapper div.profile ul a{
  color: var(--lightest);
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  transition: text-decoration 0.3s ease-in-out;
}

div.about-wrapper div.profile ul a:hover{
  color: var(--light);
  text-decoration: underline;
  text-decoration-color: var(--brand);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

div.about-wrapper div.text{
  flex: 1;
}

div.about-wrapper div.text p{
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  header{
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  div.post{
    grid-template-columns: 1fr;
  }

  div.about-wrapper{
    flex-direction:column;
  }

  div.about-wrapper div.profile{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  div.about-wrapper div.profile img{
    width: 120px;
    height: 120px;
  }
}