* {
  box-sizing: border-box;
}

body{
  color: #333;
}

img{
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: 900;
  font-size: 1.6rem;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 30px;
}

div.post div.image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}


@media screen and (min-width: 768) {
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }
}
  
div.post div.content h2{
  margin: 0;
  font-size: 1.8rem;
}

div.post div.content a{
  text-decoration: none;
  color: inherit;
}

div.post div.content p.info{
  margin: 5px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: 900;
  display: flex;
  gap: 10px;
}

div.post div.content p.info a.author{
  color: #333;
}

div.post div.content p.description{
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
}

form button{
  width: 100%;
  background-color: #555;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 7px 0;
  cursor: pointer;
}

form.login h1, form.register h1{
  text-align: center;
}

div.post-wrapper div.cover-image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-wrapper div.cover-image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-wrapper h1{
  margin-bottom: 0;
}


div.post-wrapper a{
  color: #333;
  text-decoration: underline;
}

.post-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.post-info time{
  color: #aaa;
}


.post-info .author{
  font-weight: bold;
}

div.post-content p{
  line-height: 1.6rem;
}